.scroll-container::-webkit-scrollbar {
    height: 0px;
    transition: height 0.3s ease;
}

.scroll-container:hover::-webkit-scrollbar {
    height: 6px;
}

.scroll-container::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #2076d7;
    /* bg-blue-300 */
    border-radius: 9999px;
}